<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="icon" href="//common.cnblogs.com/favicon.ico" type="image/x-icon" />
    <title>404 页面不存在 - BBS</title>
    <style type='text/css'>
        body {
            margin: 8% auto 0;
            max-width: 550px;
            min-height: 200px;
            padding: 10px;
            font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            font-size: 14px;
        }
        p { color: #555;margin: 20px 10px; }
        img { border: 0px; }
        .d { color: #404040; }
    </style>
</head>
<body>
    <p style="margin-left: 5px;"><a href="/home/"><img src="//common.cnblogs.com/logo.svg" style="height:45px" alt="cnblogs"></a></p>
    <div style="margin-top:20px">
    <p style=""><b style="">404.</b> 抱歉，您访问的资源不存在。</p>
    <p class="d">可能是网址有误，或者对应的内容被删除，或者处于私有状态。</p>
    <p style="display:flex;align-items:center;"><a href="/home/"><img alt="" src="//common.cnblogs.com/images/404-star.png" style="width:36px;filter: opacity(0.2);"></a> <span style="color:#777;">代码改变世界，联系邮箱 contact@cnblogs.com</span></p>
    </div>
</body>
</html>
</body>
</html>